<div class="col-md-8 col-md-offset-2">
  <h2>Resend confirmation instructions</h2>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f| %>
    <%= f.input :email, as: :email, autofocus: true %>
    <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

