<div class="col-md-8 col-md-offset-2">
  <h1 class='text-center'>Editing Listing</h1>
  <%= render 'form' %>
</div>

<%= content_for :extra_footer do %>
  <script>
    $(document).ready(function() {
      <% unless @listing.trade %>
        $('.listing_asking_items').toggle();
      <% end %>
      $("[name='listing[trade]']").change(function(){
        $('.listing_asking_items').toggle();
      });
    });
  </script>
<% end %>

