<div class="row">
  <h1 class='text-center'>Create New Listing</h1>
  <%= render 'form' %>
</div>
<script>
  $(document).ready(function() {
    $('.listing_asking_items').hide();
    $("[name='listing[trade]']").change(function(){
      if($(this).val()=="false") {
        $('.listing_asking_items').hide();
      }else{
        $('.listing_asking_items').show();
      }
    });
    $('#price_input').change(function() {
      $('#listing_asking_price').val($(this).val());
    });
  });
</script>
