<h1>New Equipment</h1>

<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>Add pictures of this equipment on the next page</h4>
</div>

<%= render 'form' %>
