<nav class="navbar navbar-default navbar-fixed-bottom"  role="navigation">
<p class="navbar-text">&copy;Shred List <%= Time.now.year %> | <%= link_to 'About Us', '#' %> | <%= link_to 'Contact Us', '#' %></p>
</nav>
