<nav class="navbar navbar-default navbar-fixed-bottom"  role="navigation">
  <div class="col-md-6 col-md-offset-4">
    <p class="navbar-text">&copy;Shred List <%= Time.now.year %> | <%= link_to 'About Us', '#' %> | <%= link_to 'Contact Us', '#' %></p>
  </div>
</nav>

