<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>,</p>
    <p>Someone made an offer! Visit <a href=<%= @url %>><%= @url %></a> to check it out!</p>
    <p>Thanks for using Shred List :)</p>
  </body>
</html>
